.data-volume {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100px;
  max-height: 400px;
  width: 100%;
  min-height: 50px;
  padding: 10px 0;

  &__range {
    display: flex;
    align-items: center;
    min-height: 50px;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);

    &--visible {
      opacity: 1;
    }
  }

  &__bound {
    display: flex;
    padding: 0 10px;
    font-weight: bold;
  }
}
