{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "exclude": ["transform-regenerator", "transform-async-to-generator"]
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread"],
    ["syntax-dynamic-import"],
    ["module:fast-async", {
      "compiler": {
        "promises": true,
        "generators": false
      },
      "runtimePattern": "home.js",
      "spec": true
    }]
  ]
}
