{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "development": {
        "plugins": [
          "babel-plugin-styled-components"
        ]
      },
      "production": {
        "plugins": [
          "babel-plugin-styled-components"
        ]
      },
      "exclude": ["transform-regenerator", "transform-async-to-generator"]
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {"pragma": "h"}],
    ["@babel/plugin-proposal-object-rest-spread"],
    ["transform-react-remove-prop-types"],
    ["babel-plugin-styled-components"],
    ["syntax-dynamic-import"],
    ["module:fast-async", {
      "compiler": {
        "promises": true,
        "generators": false
      },
      "runtimePattern": "home.js",
      "spec": true
    }],
    ["transform-imports", {
      "react-router": {
        "transform": "react-router/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
