.cover {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    margin-bottom: 10px;
  }

  &__artwork {
    max-height: 150px;
    min-height: 100px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }

  &__artist {
    font-weight: bold;
  }

  &__title {

  }
}
