.cover {
  display: flex;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
  }

  &__artwork {

  }

  &__artist {

  }

  &__title {

  }
}
