$progress-bar-height: 5px;

.mini-player {
  position: fixed;
  bottom: $navbar-height;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $mini-player-height;
  width: 100%;
  max-width: 500px;
  background: $mini-player-background-color;
  transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
  will-change: opacity;

  .progress-container {
    position: absolute;
    top: -$progress-bar-height;
    width: 100%;
    left: 0;
    height: $progress-bar-height;
  }

  .progress-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(255,255,255,0.5);

    .progress-track {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #FFF;
      transform: translate(0, -50%) scale(0);
      will-change: transform;
    }

    .progress-round {
      position: absolute;
      top: 50%;
      left: 0;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #FFF;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      transform: translate(0, -50%);
      will-change: transform;
    }
  }

  .mini-cover {
    height: 100%;
    margin-right: 10px;

    &__artwork {
      height: 100%;
      max-width: 100%;
    }
  }

  .music-infos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;

    &__artist,  {
      font-size: 12px;
    }

    &__infos {
      font-size: 14px;
    }
  }

  &__controls {
    height: 100%;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
  }
}

.mini-player.mini-player-entered, .mini-player.mini-player-exiting {
  opacity: 1;
}

.mini-player.mini-player-entering, .mini-player.mini-player-exited {
  opacity: 0;
}
