.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
  max-width: 500px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: $navbar-background-color;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  &-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: none;
    border-radius: none;
  }

  &-button__icon {
    height: 25px;
    width: 25px;
  }

  &-button__title {
    font-size: 11px;
    font-weight: 500;
    margin-top: 5px;
  }

  &-button__title &-button__title-active {
    color: $menu-button-select-color;
  }
}
