.progress-line {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex: 1;
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  width: 100%;

  &__track {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    transform: translate(0, -50%) scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.2s linear;
  }
}
