.topbar--hamburger, .topbar--back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;

  &__button {
    position: absolute;
    top: 50%;
    left: 15px;
    height: 30px;
    width: 30px;
    transform: translateY(-50%);
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
  }
}
