.sign-in-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 450px;

  h1 {
    font-weight: 500;
    color: #fff;
  }

  .forgot-password-link {
    text-decoration: none;
    text-align: center;
    color: var(--color-surface-700);

    &:hover {
      text-decoration: underline;
    }
  }

  .no-account-link {
    margin: 15px;

    a {
      color: var(--color-surface-700);
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .social-auth-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #fff;

    &--google::before {
      content: '';
      background: url('/resources/assets/svg/google.svg') no-repeat no-repeat;
      background-size: 24px 24px;
      width: 24px;
      height: 24px;
      display: flex;
      margin-right: 10px;
    }

    &--github::before {
      content: '';
      background: url('/resources/assets/svg/github.svg') no-repeat no-repeat;
      background-size: 24px 24px;
      width: 24px;
      height: 24px;
      display: flex;
      margin-right: 10px;
    }
  }
}
