.search {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  &__search-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__search-bar {
    outline: none;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: #2D3535;
    color: #FFF;
    font-size: 16px;
    transform: scale(0.97);
    transition: transform .2s ease-out;
    will-change: transform;
  }

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 22px;
  }

  &__results {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &__albums-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    height: 40px;
    color: #000;
  }

  &__tracks-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    height: 40px;
    color: #000;
  }

  &__albums-results {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-auto-flow: column;
    height: 50px;
    font-weight: 400;
    grid-gap: 20px;
    margin: 8px 0;
    padding: 0 20px;
    animation: fade linear .3s;
  }

  &__album-cover {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__album-infos, &__track-infos {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFF;
  }

  &__track-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-weight: 400;
    background: none;
    border: none;
    font-size: 15px;
    padding: 0 20px;
    animation: fade linear .3s;
  }

  &__track-title {
    font-size: 16px;
    margin-bottom: 3px;
  }

  &__track-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #c3c3c3;
  }

  &__track-artist {
    margin-right: 7px;
  }

  &__track-album {
    margin: 0 7px;
  }
}
