.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;

  &__drag-drop {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: 2px dashed;
    border-color: #9E9E9E;
    padding: 20px;
    opacity: 0.7;
    transition: opacity 0.2s linear, transform 0.3s linear;

    &--active {
      opacity: 1;
      transform: scale(1.01);
    }
  }

  &__icon {
    background: url(/assets/svg/upload.svg);
    background-size: 100% 100%;
    height: 150px;
    width: 150px;
  }

  &__description {
    max-width: 300px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;
  }

  &__alternative {
    text-align: center;
    font-weight: 400;
    margin: 5px;
  }

  &__button-container {

  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #FFF;
    border-radius: 3px;
    text-transform: uppercase;
    color: #FFF;
    padding: 10px 20px;
  }

  &__input {
    display: none;
  }

  &__progress-bar {
    height: 15px;
    width: 95%;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    opacity: 0;
    transition: 0.2s opacity cubic-bezier(0, 0, 0.3, 1);

    &--active {
      opacity: 1;
    }
  }

  &__progression-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
  }

  &__progression-track {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .2s cubic-bezier(0, 0, 0.3, 1);
  }
}
