.tracklist {
  flex: 1;
  //max-height: calc(100% - var(--header-height) - var(--player-height));
  overflow-y: auto;

  &__infos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 10px;
    }
  }

  &__details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    margin: 15px;
    animation: fade linear 0.4s;
  }

  &__cover {
    max-height: 100px;
    object-fit: contain;
    animation: fade linear 0.6s;
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;

    @media (max-width: var(--mobile)) {
      font-size: 18px;
    }
  }

  &__artist {
    font-size: 14px;
    color: #d4d4d4;
    margin: 0;

    @media (max-width: var(--mobile)) {
      font-size: 12px;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    font-size: 14px;

    @media (max-width: var(--mobile)) {
      font-size: 10px;
    }
  }

  &__year {
    margin: 5px 5px 5px 0;
  }

  &__tracks-counter {
    margin: 5px;
  }

  &__genre {
    margin: 5px;
  }

  &__download {
    position: relative;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 35px;
    width: 100%;
  }

  &__tracks {
    margin: 0 10px;
  }
}
