* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  color: #FFF;
  font-size: 15px;
  /* Roboto Medium */
  font-weight: 500;
  height: 100vh;
  @media screen and (max-width: $mobile) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #FFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

button[disabled] {
  opacity: 0.7;
}

select {
  outline: none;
}

input[type="email"], input[type="password"] {
  height: 55px;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

  & .error {
    border: 1px solid red;
  }
}

a {
  text-decoration: none;
}
