$mobile: 530px;

$auth-background: #7C7C7C;
$background: linear-gradient(#485460, #0b0c0d 85%);

$mini-player-height: 45px;
$mini-player-background: #212121;
$progress-bar-height: 5px;

$navbar-background: #222223;
$navbar-height: 55px;

$slider-background: #979797;

$welcome-subtitle-color: #D8D8D8;

$auth-button-background: #7C7C7C;
$google-button-background: #2962FF;
