@import 'navbar';
@import 'side_nav';
@import 'player';

.layout {
  display: grid;
  height: 100%;

  &--guest {
    grid-template-rows: var(--header-height) 1fr;
  }

  &--user {
    grid-template-rows: var(--header-height) 1fr var(--player-height);
  }
}

.form-only-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 450px;
}
