.side-nav {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  height: 100%;
  background: var(--color-surface-200);
  color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

  &__user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px 10px;
    border-bottom: 1px solid var(--neutral-color-soft-gray-1);
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__fullname {
    font-size: 16px;
  }

  &__email {
    font-size: 14px;
    margin: 0;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0 10px;
  }

  &__element {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 15px;

    &:hover {
      background: var(--color-surface-100);
    }
  }

  &__link-icon {
    width: 24px;
    height: 24px;
  }
}
