.btn {
  width: 100%;
  cursor: pointer;
}

.btn--primary {
  padding: 16px;
  background: var(--color-primary-100);
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 2px var(--color-primary-100);
  outline-color: transparent;
}

.btn--secondary {
  padding: 10px 12px;
  background: var(--color-surface-100);
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.btn--third {
  padding: 10px 12px;
  background: none;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

.btn--active {
  color: var(--secondary-blue-dark);
}
