.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__label {
    font-weight: 500;
  }

  &-input-wrapper {
    position: relative;
    border-radius: 3px;
  }

  &__input {
    width: 100%;
    padding: 20px 0 20px 50px;
    font-size: 16px;
    background: var(--color-surface-100);
    color: var(--color-surface-700);
    border: 1px solid #fff;
    border-radius: 3px;
    outline-color: transparent;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    height: 24px;
    width: 24px;
    transform: translateY(-50%);
  }

  &__error {
    display: none;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-red-dark);
  }
}

.input-group--error .input-group__input {
  border: 2px solid var(--system-color-red);
}

.input-group--error .input-group__error {
  display: block;
  color: var(--system-color-red);
}
